In [2]:
import pandas as pd
import numpy as np

## eGRID

In [109]:
df_egrid = pd.read_excel("./datafiles/egrid2020_data.xlsx", sheet_name = 'PLNT20' ,header=1)
df_egrid = df_egrid[df_egrid.PSTATABB == 'WA']
print(df_egrid.shape)
print(df_egrid.columns)
df_egrid.head()

(164, 140)
Index(['SEQPLT20', 'YEAR', 'PSTATABB', 'PNAME', 'ORISPL', 'OPRNAME', 'OPRCODE',
       'UTLSRVNM', 'UTLSRVID', 'SECTOR',
       ...
       'PLWIPR', 'PLSOPR', 'PLGTPR', 'PLOFPR', 'PLOPPR', 'PLTNPR', 'PLTRPR',
       'PLTHPR', 'PLCYPR', 'PLCNPR'],
      dtype='object', length=140)

,SEQPLT20,YEAR,PSTATABB,PNAME,ORISPL,OPRNAME,OPRCODE,UTLSRVNM,UTLSRVID,SECTOR,...,PLWIPR,PLSOPR,PLGTPR,PLOFPR,PLOPPR,PLTNPR,PLTRPR,PLTHPR,PLCYPR,PLCNPR
12146,12147,2020,WA,Adams Nielson Solar,61933,Avista Corp,20169,"Adams Nielson Solar, LLC",61529,IPP Non-CHP,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
12147,12148,2020,WA,Alder,3913,City of Tacoma - (WA),18429,City of Tacoma - (WA),18429,Electric Utility,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
12148,12149,2020,WA,Arlington Microgrid,64446,PUD 1 of Snohomish County,17470,PUD 1 of Snohomish County,17470,Electric Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12149,12150,2020,WA,Big Horn Wind II,57319,Bonneville Power Administration,1738,Avangrid Renewables LLC,15399,IPP Non-CHP,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
12150,12151,2020,WA,Big Horn Wind Project,56361,Bonneville Power Administration,1738,Avangrid Renewables LLC,15399,IPP Non-CHP,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0

In [ ]:
# LAT, LON, NUMUNT, NUMGEN, PLPRMFL, PLFUELCT, NAMEPCAP, PLNGENAN, PLGENATN, PLGENATR, PLTNPR, PLTRPR

## WSDOT AADT

In [110]:
df_aadt = pd.read_csv("./datafiles/WSDOT_Traffic_Counts_AADT.csv")
print(df_aadt.shape)
print(df_aadt.columns)
df_aadt.head()

(6882, 17)
Index(['X', 'Y', 'OBJECTID', 'LRSDate', 'RouteIdentifier', 'StateRouteNumber',
       'RelatedRouteType', 'RelatedRouteQualifier', 'AccumulatedRouteMile',
       'AADT', 'SingleUnitTruckPct', 'DoubleUnitTruckPct',
       'TripleUnitTruckPct', 'DirectionOfTravel', 'Location', 'GlobalID',
       'ReportingYear'],
      dtype='object')

,X,Y,OBJECTID,LRSDate,RouteIdentifier,StateRouteNumber,RelatedRouteType,RelatedRouteQualifier,AccumulatedRouteMile,AADT,SingleUnitTruckPct,DoubleUnitTruckPct,TripleUnitTruckPct,DirectionOfTravel,Location,GlobalID,ReportingYear
0,-122.365641,48.240274,1,2021/12/31 00:00:00+00,532,532,NaN,NaN,4.26,19000,NaN,NaN,NaN,Bothways,After Milepost 4.25 A: RIGHT INTERSECTION 98TH...,{9B3865D4-8261-4196-A946-13A1955B8AF5},2021
1,-122.253938,47.298320,2,2021/12/31 00:00:00+00,167Q101469,167,Q1,01469,0.20,3700,NaN,NaN,NaN,Northbound,On Q1 RAMP (15TH ST SW TO SR 167 NB) After RIG...,{0D9D296A-1DFD-4439-9EEA-B3584A94167F},2021
2,-118.387595,46.027572,3,2021/12/31 00:00:00+00,125,125,NaN,NaN,1.89,16000,NaN,NaN,NaN,Bothways,After Milepost 1.88 A: LEFT INTERSECTION COLLE...,{5A643190-D5CC-4A33-8322-661CEBA58B7F},2021
3,-122.541535,46.937836,4,2021/12/31 00:00:00+00,702,702,NaN,NaN,0.59,8700,4.44,2.13,0.31,Bothways,After Milepost 0.58 A: RIGHT INTERSECTION HART...,{1F772D26-2ECC-4503-9A93-365F86B75653},2021
4,-122.333841,47.545449,5,2021/12/31 00:00:00+00,099S102690,99,S1,02690,0.13,15000,NaN,NaN,NaN,Southbound,On S1 RAMP (E MARGNL WAY TO SR 99 SB) After RI...,{0E0F487B-F425-4C64-BF26-5ECA88B40456},2021

In [132]:
print('RelatedRouteType', df_aadt.RelatedRouteType.unique())
print('DirectionOfTravel', df_aadt.DirectionOfTravel.unique())

RelatedRouteType [nan 'Q1' 'S1' 'R1' 'P1' 'Q5' 'SP' 'S5' 'P5' 'LX' 'CD' 'CI' 'CO' 'R5' 'P6'
 'Q2' 'S7' 'R2' 'P2' 'RL' 'S2' 'X1' 'AR' 'HI' 'S6' 'S3' 'Q6' 'P3' 'HD'
 'R3' 'P7']
DirectionOfTravel ['Bothways' 'Northbound' 'Southbound' 'Eastbound' 'Westbound']

In [ ]:
# useful columns: X, Y, AccumulatedRouteMile, AADT, SingleUnitTruckPct, DoubleUnitTruckPct, TripleUnitTruckPct, DirectionOfTravel

## Coordinates to Zip code converter

In [90]:
# census tract to long/lat converter
converter_coord = pd.read_table("./datafiles/2020_WA_census_tracts_FIPS.txt")
print(converter_coord.shape)
converter_coord.rename(columns={converter_coord.columns[7]:'INTPTLONG'}, inplace = True)
converter_coord.head()

(1784, 8)

,USPS,GEOID,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,WA,53001950100,1612463867,7701924,622.576,2.974,47.150512,-118.398327
1,WA,53001950200,2632137474,2148452,1016.274,0.830,46.925269,-118.509265
2,WA,53001950301,431966557,0,166.783,0.000,46.827801,-119.010979
3,WA,53001950302,174575089,2213558,67.404,0.855,46.855092,-119.288159
4,WA,53001950303,118609926,400491,45.796,0.155,46.771170,-119.269181

In [91]:
# lat long to zipcode converter
from uszipcode import SearchEngine
search = SearchEngine()
import numpy as np

#define zipcode search function
def get_zipcode(lat, long):
    result = search.by_coordinates(lat = lat, lng = long, returns = 1)
    return result[0].zipcode

#load columns from dataframe
lat = converter_coord.INTPTLAT
lon = converter_coord.INTPTLONG

#define latitude/longitude for function
df = pd.DataFrame({'lat':lat, 'lon':lon})

#add new column with generated zip-code
df['zipcode'] = df.apply(lambda x: get_zipcode(lat = x.lat, long = x.lon), axis=1)

df.head()

         lat         lon zipcode
0  47.150512 -118.398327   99169
1  46.925269 -118.509265   99341
2  46.827801 -119.010979   99344
3  46.855092 -119.288159   99344
4  46.771170 -119.269181   99344

In [92]:
converter_coord['zipcode'] = df['zipcode'] 
converter_coord.head()

,USPS,GEOID,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG,zipcode
0,WA,53001950100,1612463867,7701924,622.576,2.974,47.150512,-118.398327,99169
1,WA,53001950200,2632137474,2148452,1016.274,0.830,46.925269,-118.509265,99341
2,WA,53001950301,431966557,0,166.783,0.000,46.827801,-119.010979,99344
3,WA,53001950302,174575089,2213558,67.404,0.855,46.855092,-119.288159,99344
4,WA,53001950303,118609926,400491,45.796,0.155,46.771170,-119.269181,99344

In [125]:
print(converter_coord.shape)

(1784, 9)

## National Risk Index for Natural Hazards

In [111]:
df_nri = pd.read_csv("./datafiles/NRI_CensusTracts_WA/NRI_Table_CensusTracts_Washington.csv")
nri_dir = pd.read_csv("./datafiles/NRI_CensusTracts_WA/NRIDataDictionary.csv")
nri_harzard_info = pd.read_csv("./datafiles/NRI_CensusTracts_WA/NRI_HazardInfo.csv")

In [112]:
print(df_nri.shape)
print(df_nri.columns)
df_nri.head()

(1446, 367)
Index(['OID_', 'NRI_ID', 'STATE', 'STATEABBRV', 'STATEFIPS', 'COUNTY',
       'COUNTYTYPE', 'COUNTYFIPS', 'STCOFIPS', 'TRACT',
       ...
       'WNTW_EALB', 'WNTW_EALP', 'WNTW_EALPE', 'WNTW_EALA', 'WNTW_EALT',
       'WNTW_EALS', 'WNTW_EALR', 'WNTW_RISKS', 'WNTW_RISKR', 'NRI_VER'],
      dtype='object', length=367)

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,TRACT,...,WNTW_EALB,WNTW_EALP,WNTW_EALPE,WNTW_EALA,WNTW_EALT,WNTW_EALS,WNTW_EALR,WNTW_RISKS,WNTW_RISKR,NRI_VER
0,30470,T53049950200,Washington,WA,53,Pacific,County,49,53049,950200,...,79.899664,0.000112,853.058140,33.247888,966.205692,15.736898,Relatively Low,11.035544,Relatively Moderate,November 2021
1,30601,T53049950500,Washington,WA,53,Pacific,County,49,53049,950500,...,23.892830,0.000018,138.953303,0.591076,163.437208,8.703212,Relatively Low,5.517714,Relatively Low,November 2021
2,30885,T53033032800,Washington,WA,53,King,County,33,53033,32800,...,0.694378,0.000016,123.054600,479.184395,602.933373,13.447835,Relatively Low,6.429770,Relatively Low,November 2021
3,30924,T53033031501,Washington,WA,53,King,County,33,53033,31501,...,0.109565,0.000004,31.788992,19.685609,51.584165,5.925633,Very Low,3.098243,Very Low,November 2021
4,30949,T53033032007,Washington,WA,53,King,County,33,53033,32007,...,0.079396,0.000003,22.674252,0.298783,23.052431,4.530382,Very Low,2.086950,Very Low,November 2021

In [113]:
#add new column with generated zip-code
df_nri = df_nri.merge(converter_coord[['GEOID','INTPTLAT','INTPTLONG','zipcode']], how='left', left_on='TRACTFIPS', right_on='GEOID')
print(df_nri.shape)
df_nri.head()

(1446, 371)

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,TRACT,...,WNTW_EALT,WNTW_EALS,WNTW_EALR,WNTW_RISKS,WNTW_RISKR,NRI_VER,GEOID,INTPTLAT,INTPTLONG,zipcode
0,30470,T53049950200,Washington,WA,53,Pacific,County,49,53049,950200,...,966.205692,15.736898,Relatively Low,11.035544,Relatively Moderate,November 2021,5.304995e+10,46.744007,-123.682527,98577
1,30601,T53049950500,Washington,WA,53,Pacific,County,49,53049,950500,...,163.437208,8.703212,Relatively Low,5.517714,Relatively Low,November 2021,NaN,NaN,NaN,NaN
2,30885,T53033032800,Washington,WA,53,King,County,33,53033,32800,...,602.933373,13.447835,Relatively Low,6.429770,Relatively Low,November 2021,5.303303e+10,47.653074,-121.431277,98251
3,30924,T53033031501,Washington,WA,53,King,County,33,53033,31501,...,51.584165,5.925633,Very Low,3.098243,Very Low,November 2021,5.303303e+10,47.320380,-121.879143,98051
4,30949,T53033032007,Washington,WA,53,King,County,33,53033,32007,...,23.052431,4.530382,Very Low,2.086950,Very Low,November 2021,5.303303e+10,47.391163,-122.073658,98042

Why are some data missing for my county or Census tract?
All data supporting National Risk Index risk components were required to be nationwide in scope and able to be measured at the Census tract level. Hazard type data sources were also required to have location and time information. For some counties and Census tracts, data that met these requirements were simply not available.

The National Risk Index uses specific ratings to communicate if a community is missing data:

Not Applicable indicates there is no historical record in the National Risk Index source data for a hazard type and the hazard type is not geographically possible ( i.e., Coastal Flooding in inland areas). Therefore, there is no perceived probability of the hazard impacting a community.
Insufficient Data indicates that one or more required components for a calculation are not available.
Data Unavailable indicates source data are not available for an National Risk Index component. This is specific to Social Vulnerability and Community Resilience only.
No Rating indicates there is an National Risk Index component with a score of 0, and the Risk Index score cannot be calculated for that hazard or community.
No Expected Annual Losses indicates one of the Expected Annual Loss factors has a value of 0 and Expected Annual Loss cannot be calculated for a hazard type. If a community has No Expected Annual Loss for a hazard type, then the hazard type does not contribute to the composite Expected Annual Loss score for all 18 hazard types.

In [124]:
pd.unique(df_nri[df_nri.GEOID.isna()].TRACTFIPS).shape

(294,)

In [102]:
print(nri_dir.shape)
print(nri_dir.columns)
nri_dir.head()

(379, 8)
Index(['Sort', 'Field Name', 'Field Alias', 'Type', 'Length', 'Relevant Layer',
       'Metric Type', 'Version'],
      dtype='object')

,Sort,Field Name,Field Alias,Type,Length,Relevant Layer,Metric Type,Version
0,1,OBJECTID,OBJECTID,Integer,4.0,NaN,NaN,November 2021
1,2,Shape,Shape,Geometry,NaN,NaN,NaN,November 2021
2,3,Shape_Length,Shape_Length,Double,8.0,NaN,NaN,November 2021
3,4,Shape_Area,Shape_Area,Double,8.0,NaN,NaN,November 2021
4,5,STATE,State Name,String,250.0,All,NaN,November 2021

In [103]:
print(nri_harzard_info.shape)
print(nri_harzard_info.columns)
nri_harzard_info.head()

(18, 13)
Index(['OID_', 'Hazard', 'Prefix', 'Service', 'Start', 'End_', 'TotalYears',
       'FrequencyModel', 'EAL_Building', 'EAL_Population', 'EAL_Agriculture',
       'PeriodOfRecord', 'NRI_VER'],
      dtype='object')

,OID_,Hazard,Prefix,Service,Start,End_,TotalYears,FrequencyModel,EAL_Building,EAL_Population,EAL_Agriculture,PeriodOfRecord,NRI_VER
0,1,Avalanche,AVLN,Avalanche,1960,2019.0,60,Annualized Frequency,1,1,0,1960-2019 (60 years),November 2021
1,2,Coastal Flooding,CFLD,CoastalFlooding,NaN,NaN,NaN,Annualized Frequency,1,1,0,Various (see documentation),November 2021
2,3,Cold Wave,CWAV,ColdWave,2005,2017.0,12,Annualized Frequency,1,1,1,2005-2017 (12 years),November 2021
3,4,Drought,DRGT,Drought,2000,2017.0,18,Annualized Frequency,0,0,1,2000-2017 (18 years),November 2021
4,5,Earthquake,ERQK,Earthquake,2017,2017.0,1,Probability,1,1,0,2017 dataset,November 2021